# gitignore
__pycache__/*
cache/*
controllerspeedtest.log
teste_internet_app/__pycache__/*
teste_internet_app/screens/__pycache__/*
teste_internet_app/controller/__pycache__/*
teste_internet_app/model/__pycache__/*
pyproject.toml
poetry.lock
kivy-reloader.toml
my_database.db
.buildozer/*
.buildozer/
teste_internet.db
testeinternet.db